.background-panel {
    color:#000;
    background-color:#ebde2af6;
}

.content{
    max-width:950px;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    text-align: center;
}

.space-between-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flatten-list-ul {
    list-style: none; /* Supprime la décoration de la liste */
    margin: 0 auto;
    width: 100%;
    padding-bottom: 40px;
    
}

.flatten-list-li-desktop{
    display: inline-block; 
    margin: 8px;
    color: #684a8f;
    font-weight: 600;
    text-decoration: none;
    justify-content: space-between;
}

.flatten-list-li-mobile{
    display: inline-flex; 
    margin: 8px;
    color: #684a8f;
    font-weight: 600;
    text-decoration: none;
    justify-content: space-between;
    line-height: 2em;
}

.flatten-list-li-dot{
    margin-left: 12px;
    margin-right: 8px;
    font-weight: 900;
}

.flatten-list-li-dot-mobile{
    margin-left: 16px;
    margin-right: 4px;
    font-weight: 900;
}

.bar-name{
    text-decoration:none;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.billeterie{
    padding: 1%;
    border: solid;
    border-color: darkgray;
    border-width: 1px;
    border-radius: 20px;
}
